/Team.xlsx
/Project 1/Report/Support
/Project 1/References
/Project 1/Images
/Project 2/Codes/Code-1/Reference
/Project 2/Codes/Code-2/EV-datasets/Support
/Project 2/Codes/Code-2/FeynnLabsProjetcs-main
/Project 2/Reference
/Project 2/Team's work
/Project 3/Agriculture Crop Dataset.zip